*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# web2py crud
.*.swp
*.log
*.log.*
.DS_Store
data/
sessions/
errors/
uploads/
databases/*.table
databases/sql.log
databases/*.sqlite*
cache/
.idea/

# keep your db.py away
models/db.py

