{{extend 'layout.html'}}

<div class="row-fluid">
    <div class="span8">
        <div class="widget-box">
            <div class="widget-title">
              <span class="icon">
                <i class="icon-edit"></i>
              </span>
              <h5>{{=response.title or request.application}}</h5>
            </div>
            <div class="widget-content">
                {{=form}}
            </div>
        </div>
    </div>
    <div class="span4 alert alert-info">
        <p class="text-warning"><strong>Warning!</strong></p>
        <p>This queries Nexpose for every vulnerability in its database and can take hours to complete. A long-running
        scheduler task is required as a web server will timeout the connection.</p>
        <dl>
            <dt>Server</dt>
            <dd>{{=auth.user.f_nexpose_host}}</dd>
            <dt>Port</dt>
            <dd>{{=auth.user.f_nexpose_port}}</dd>
            <dt>Username</dt>
            <dd>{{=auth.user.f_nexpose_user}}</dd>
        </dl>
    </div>
</div>
