{{extend 'layout.html'}}

<div class="row-fluid">
    <div class="span8">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                 <i class="icon-align-justify"></i>
                </span>
                <h5>{{=response.title or settings.title}}</h5>
            </div>
            <div class="widget-content">
                {{=form}}
            </div>
        </div>
    </div>
    <div id="info" class="span4 alert alert-info">
        <h3>Nmap Scan Overview</h3>
        <p>This module will run an nmap scan from the Kvasir server and import the results. To use this module,
            nmap must be present on the system and found in $PATH. Some options require root and all scanning will
            be performed using the task scheduler.</p>
        <p> Default Scan Options are:
            <dl class="dl-horizontal">
                <dt>Intense</dt>
                <dd>nmap -T4 -A -v</dd>

                <dt>Intense plus UDP</dt>
                <dd>nmap -sS -sU -T4 -A -v</dd>

                <dt>Intense, all TCP ports</dt>
                <dd>nmap -p 1-65535 -T4 -A -v</dd>

                <dt>Intense, no ping</dt>
                <dd>nmap -T4 -A -v -Pn</dd>

                <dt>Ping scan</dt>
                <dd>nmap -sn</dd>

                <dt>Quick scan</dt>
                <dd>nmap -T4 -F</dd>

                <dt>Quick scan plus</dt>
                <dd>nmap -sV -T4 -O -F --version-light</dd>

                <dt>Slow comprehensive</dt>
                <dd>nmap -sS -sU -T4 -A -v -PE -PP -PS80,443 -PA3389 -PU40125 -PY -g 53 --script "default"</dd>
            </dl>
        </p>
        <p>The nmap output option "-oX" is always implied.</p>
    </div>
</div>
