{{extend 'layout.html'}}

<div class="row-fluid">
    <div class="span8">
        <div class="widget-box">
            <div class="widget-title">
              <span class="icon">
                <i class="icon-book"></i>
              </span>
              <h5>{{=response.title or request.application}}</h5>
            </div>
            <div class="widget-content">
                {{=form}}
            </div>
        </div>
    </div>
    <div class="alert alert-info span4">
        <p>For Windows accounts use the "info/0" service</p>
        <p>The following file formats are supported:</p>
        <dl>
            <dt>Medusa</dt>
            <dt>THC Hydra</dt>
            <dt>Metasploit Creds CSV</dt>
            <dd>Generate with "creds (options) -o output.csv"</dd>
        </dl>
    </div>
</div>
