{{extend 'layout.html'}}

{{=A(T('Add CPE Hardware'),_href=URL('hardware_add'))}}
<br/>

<script type="text/javascript" language="javascript">

var oTable;

jQuery(document).ready(function() {
    oTable = $('#datatable').dataTable( {
        "bServerSide": true,
        "sDom": 'T<"clear">lfrtip',
        "oTableTools": {
            "sRowSelect": "multi",
            "sSelectedClass": "row_selected",
            "fnRowSelected": function ( node ) {
                jQuery(node).find("input[type=checkbox]").attr("checked", true);
            },
            "fnRowDeselected": function ( node ) {
                jQuery(node).find("input[type=checkbox]").attr("checked", false);
            },
            "sSwfPath": "{{=URL('static', 'TableTools/swf/copy_csv_xls.swf')}}"
        },
        "sAjaxSource": "hardware_list.json",
    } );

    //new FixedHeader( oTable );

} );

</script>

<div id="table">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="datatable">
    <thead>
        <tr>
            <th>ID</th>
            <th>CPE Name</th>
            <th>Title</th>
            <th>Vendor</th>
            <th>Product</th>
            <th>Version</th>
            <th>Update</th>
            <th>Edition</th>
            <th>Language</th>
        </tr>
    </thead>
</table>
