{{extend 'layout.html'}}

<div class="row-fluid">
    <div class="span8">
        <div class="widget-box">
            <div class="widget-title">
              <span class="icon">
                <i class="icon-upload"></i>
              </span>
              <h5>{{=response.title or request.application}}</h5>
            </div>
            <div class="widget-content">
                {{=form}}
            </div>
        </div>
    </div>
    <div class="alert alert-info span4">
        <p>CSV file has the following format:</p>

        <pre>IP Address,Hostname</pre>

        <p>Select "Overwrite" to ignore hostnames that already exist, otherwise the record will be skipped.</p>

        <p>Select "Add missing hosts" to do just that.</p>
    </div>
</div>
