{{extend 'layout.html'}}

<div class="row-fluid">
    <div class="span8">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                 <i class="icon-edit"></i>
                </span>
                <h5>{{=response.title or settings.title}}</h5>
            </div>
            <div class="widget-content">
                  {{=form}}
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function() {
        jQuery('#no_table_userid__row').hide();
        jQuery('#no_table_filtertype').change(function() {
            if(jQuery('#no_table_filtertype option:selected').val() == "UserID") {
                jQuery('#no_table_filter__row').hide();
                jQuery('#no_table_userid__row').show();
            } else {
                jQuery('#no_table_userid__row').hide();
                jQuery('#no_table_filter__row').show();
            }
        } );
    } );
</script>
